### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [54]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [55]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [57]:
#screen_Name_group = purchase_df.groupby('SN')
purchase_df.describe(include=['object'])

               SN Gender     Item Name
count         780    780           780
unique        576      3           179
top     Lisosia93   Male  Final Critic
freq            5    652            13

In [58]:
#Displays data types of each column for human reference/data_manipulation in later lines of code
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [59]:
#Removes duplicates from dataset
player_demographics_df = purchase_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics_df = player_demographics_df.drop_duplicates()
player_demographics_df.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [60]:
#Finds the number of unique player names in the dataset
unique_players = purchase_df['SN'].nunique()
unique_players

576

In [61]:
screen_Name_count = purchase_df['SN'].count()
screen_Name_count

780

## Player Count

* Display the total number of players

In [62]:
#Takes the number of unique players and puts it in a data frame as "Total Players"
total_players_df = pd.DataFrame({
    "Total Players":[unique_players],
    })
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
#Finds the number of unique Item ID's and sets it to an object
unique_ItemID = purchase_df["Item ID"].nunique()
#Takes number of unique Item ID's and places it in a data frame
unique_ItemID_df = pd.DataFrame({
    "Number of Unique Items":[unique_ItemID],
    })
unique_ItemID_df

   Number of Unique Items
0                     183

In [64]:
#Finds the average of the "Price" column and sets it to an object
average_Price = purchase_df["Price"].mean()
#Converts average price(float) to dollar amount 
average_Price = '${:,.2f}'.format(average_Price)
#Takes average price and places it in a data frame
average_Price_df = pd.DataFrame({
    "Average Price":[average_Price],
    })
average_Price_df

  Average Price
0         $3.05

In [65]:
purchaseCount = purchase_df["Purchase ID"].nunique()

purchaseCount_df = pd.DataFrame({
    "Number of Purchases":[purchaseCount],
    })
purchaseCount_df

   Number of Purchases
0                  780

In [66]:
revenueTotal = purchase_df["Price"].sum()
revenueTotal = '${:,.2f}'.format(revenueTotal)
revenueTotal_df = pd.DataFrame({
    "Total Revenue":[revenueTotal],
    })
revenueTotal_df

  Total Revenue
0     $2,379.77

In [67]:
#Method number 1: Collects analysis values into a data frame for display
purchase_df1_analysis_total = pd.DataFrame({
    "Number of Unique Items":[unique_ItemID],
    "Average Price":[average_Price],
    "Number of Purchases":[purchaseCount],
    "Total Revenue":[revenueTotal],
    })

In [68]:
#Method number 2: DF Merge (Work in Progress)
purchase_df2_analysis_total = pd.merge(unique_ItemID_df,average_Price_df,purchaseCount_df,revenueTotal_df)
purchase_df2_analysis

KeyError:   Total Revenue
0     $2,379.77

In [69]:
#Displays Purchasing Analysis (Total)
purchase_df1_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

# * Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [70]:
gender_demo_group = player_demographics_df["Gender"].value_counts()
gender_demo_group

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [71]:
gender_percent = round((gender_demo_group/unique_players*100),2)
gender_percent

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [72]:
gender_demo_group_df = pd.DataFrame({
    "Total Count":gender_demo_group,
    "Percentage of Players":gender_percent
    })
##gender_demo_group_df.set_index("Gender")
gender_demo_group_df["Percentage of Players"] = gender_demo_group_df["Percentage of Players"].map("{:,.2f}%".format)

In [73]:
gender_demo_group_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
purchase_cleanDups_df = purchase_df.drop_duplicates(subset = "SN" , keep = "first")
purchase_cleanDups_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [74]:
# Calculate Purchase count, aver 

avg_total_purchase = purchase_df["Price"].mean()
avg_total_purchase

3.050987179487176

In [81]:
purchase_analysisGen_Pcount = purchase_df.groupby(["Gender"]).nunique()
purchase_analysisGen_Pcount = purchase_analysisGen_Pcount["Purchase ID"]
purchase_analysisGen_Pcount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [86]:
purchase_analysisGen_avgPrice = purchase_df.groupby(["Gender"]).mean()
purchase_analysisGen_avgPrice = purchase_analysisGen_avgPrice["Price"].astype(float).map("${:,.2f}".format)
purchase_analysisGen_avgPrice

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Price, dtype: object

In [88]:
purchase_analysisGen_TpurchaseVal = purchase_df.groupby(["Gender"]).sum()
purchase_analysisGen_TpurchaseVal = purchase_analysisGen_TpurchaseVal["Price"].astype(float).map("${:,.2f}".format)
purchase_analysisGen_TpurchaseVal

Gender
Female                     $361.94
Male                     $1,967.64
Other / Non-Disclosed       $50.19
Name: Price, dtype: object

In [108]:
cleanDups_Gen = purchase_cleanDups_df.groupby(["Gender"]).mean()

deeZ = purchase_df.groupby(["Gender"]).mean()

purchase_analysisGen_AvgTpurchPerPers = (purchase_df.groupby(["Gender"]).sum() / gender_demo_group_df["SN"].count())
purchase_analysisGen_AvgTpurchPerPers

KeyError: 'SN'

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [<10, 10><14, 15><19, 20><24, 25><29, 30><34, 35><39, 40>]

group_names = [""]

In [6]:
#pd.cut  (Create bins and group names)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80